./node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.coverage
.coverage/
.nyc_output/
.coverage/
.vscode
.idea
*.log
logs
logs/*
!logs/combined.log
!logs/error.log
dist
dist/**
dist/*
!dist/**
!dist/*
osrm-data
osrm-data/**